<h1>QUEEN</h1>
<P>Banda britanica de rock formada en 1970 en Londres.</P>
<img src="../../assets/IU46VWJWFNFFJIG2XIALBLRCHU.jpg" alt="" width="30%" height="30%">

<h4>INTEGRANTES DEL GRUPO</h4>
<ul>
  <li>brian may</li>
  <li>Freddie Mercury</li>
  <li>John Deacon</li>
  <li>Roger Taylor</li>
</ul>

<h4>DISCOGRAFICA</h4>
Grandes exitos de QUEEN
<table>
  <tr bgcolor="grey">
    <th>AÑO</th>
    <th>Disco</th>
  </tr>
  <tr>
    <th>1975</th>
    <th>A Night at the Opera</th>
  </tr>
  <tr>
    <th>1986</th>
    <th>A Kind of Magic</th>
  </tr>
  <tr>
    <th>1969</th>
    <th>The Miracle</th>
  </tr>
  <tr bgcolor="lightgrey">
    <th colspan="2">"A Kind of Magic" fue el album mas exitoso</th>
  </tr>
</table>
<h4>Sitio web Oficial</h4>
<a href="https://es.wikipedia.org/wiki/Queen">www.queenonline.com</a>

<h1>AÑO</h1>
{{mes}}
